{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div class="well">
                {% if error %}
                    <div>{{ error.messageKey|trans }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password"/>

                    <input type="submit" value="login"/>
                </form>
            </div>
            <hr />
            <a href="{{ path('register') }}">Register</a>
        </div>
    </div>
{% endblock %}