@font-face {
    font-family: 'aleoregular';
    src: url('../../assets/fonts/Aleo/Aleo-Regular-webfont.eot');
    src: url('../../assets/fonts/Aleo/Aleo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bg-1 {
    background: url("../../assets/img/patscollage.jpg") no-repeat center center;
    height: 400px;
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    color: #555555;
}



.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.navbar-nav li a {
    color: #ffffff !important;
    font-size: 15px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.logo img {
    display: inline;
}

.smart-news {
    font-family: aleoregular;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    color: #ffffff;
}

.Latest-news {
    font-family: aleoregular;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.article-title {
    font-family: aleoregular;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    padding: 20px 0;
}

.article-teaser {
    height: 48px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    margin: 10px 0 30px 0;
}

.social {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
}

.article-teaser-feedback {
    margin: 10px 0 40px 0;
}

.load-more {
    font-family: aleoregular;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin: 20px 0 50px 0;
}

.footer-link {
    margin-top: 100px;
}

.footer-link li a {
    height: 18px;
    font-family: aleoregular;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}